<a href="https://colab.research.google.com/github/Dashnyam7/DIC/blob/main/Panda_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Panda provides Series and DataFrame data type

Series: 1 hemjeest data, 1dimensional of NumPy's ndarray

DataFrame: 2hemjeest data, like collection of Series
Elements: numbers, strings, bool values

In [1]:
import pandas as pd

In [2]:
row = pd.Series([10, 20, 30, 40, 50])
row   #Series uusgeh

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
df = pd.DataFrame([[10, "ten", True],
                   [20, "twenty", False],
                   [30, "thirty", True],
                   [40, "forty", False],
                   [50, "fifty", False]])
df    #DataFrame uusgeh

# Basic operation of DataFrame

In [5]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.arange(100).reshape((20,5)))
df

     0   1   2   3   4
0    0   1   2   3   4
1    5   6   7   8   9
2   10  11  12  13  14
3   15  16  17  18  19
4   20  21  22  23  24
5   25  26  27  28  29
6   30  31  32  33  34
7   35  36  37  38  39
8   40  41  42  43  44
9   45  46  47  48  49
10  50  51  52  53  54
11  55  56  57  58  59
12  60  61  62  63  64
13  65  66  67  68  69
14  70  71  72  73  74
15  75  76  77  78  79
16  80  81  82  83  84
17  85  86  87  88  89
18  90  91  92  93  94
19  95  96  97  98  99

Check data

In [ ]:
df.head()   #defaultaar 5 row hewlene

In [7]:
df.head(10)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
5  25  26  27  28  29
6  30  31  32  33  34
7  35  36  37  38  39
8  40  41  42  43  44
9  45  46  47  48  49

In [8]:
df.shape

(20, 5)

## Setting the index name and column name

In [9]:
df = pd.DataFrame(np.arange(9).reshape((3,3)))
df

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

Change the index name

In [11]:
df.index = ["1st","2nd","3rd"]
df.columns = ["a","b","c"]
df

     a  b  c
1st  0  1  2
2nd  3  4  5
3rd  6  7  8

Index name, column nametai hamt DataFrame uusgeh

In [12]:
df2 = pd.DataFrame(np.arange(9).reshape((3,3)),
                   index = ["1st","2nd","3rd"],
                   columns = ["a","b","c"])
df2

     a  b  c
1st  0  1  2
2nd  3  4  5
3rd  6  7  8

## DataFrame creation in dictionary format

Bagana baganaar uusgeh

In [13]:
pd.DataFrame({"a":[1,2,3], "b":[10,20,30], "c":[True,False,True]})

   a   b      c
0  1  10   True
1  2  20  False
2  3  30   True

## Data extraction

In [15]:
df = pd.DataFrame(np.arange(20).reshape((5,4)),
                  index=["1st","2nd","3rd","4th","5th"],
                  columns=["a","b","c","d"])
df

      a   b   c   d
1st   0   1   2   3
2nd   4   5   6   7
3rd   8   9  10  11
4th  12  13  14  15
5th  16  17  18  19

### Extraction by column name/ index name

Extrat the column data by name

In [16]:
df["a"]   #Series

1st     0
2nd     4
3rd     8
4th    12
5th    16
Name: a, dtype: int64

In [18]:
df[["a","c"]]

      a   c
1st   0   2
2nd   4   6
3rd   8  10
4th  12  14
5th  16  18

Index data

In [19]:
df[:"1st"]

     a  b  c  d
1st  0  1  2  3

In [20]:
df[:"3rd"]  #3rd row hurtel

     a  b   c   d
1st  0  1   2   3
2nd  4  5   6   7
3rd  8  9  10  11

In [ ]:
df["3rd":"3rd"]

## How to use loc and iloc

In [ ]:
df = pd.DataFrame(np.arange(20).reshape((5,4)),
                  index=["1st","2nd","3rd","4th","5th"],
                  columns=["a","b","c","d"])
df

loc: extract data by index name and column name

In [24]:
df.loc[:,"a"]

1st     0
2nd     4
3rd     8
4th    12
5th    16
Name: a, dtype: int64

In [ ]:
df.loc[:, ["a","c"]]  #a ,c baganuud

In [ ]:
df.loc["3rd", :]  #3rd row

In [ ]:
df.loc[["2nd", "4th"], :] #2nd, 4th row

In [30]:
df.loc[["2nd","5th"],["b","d"]]   #2nd, 5th rowiin b,d bagana

      b   d
2nd   5   7
5th  17  19

iloc: extract by index number, column number

In [31]:
df.iloc[0,2]  #column number 2 with index number 0

2

In [32]:
df.iloc[2:,3]

3rd    11
4th    15
5th    19
Name: d, dtype: int64

In [33]:
df.iloc[1:, :2]

      a   b
2nd   4   5
3rd   8   9
4th  12  13
5th  16  17

In [37]:
df.tail(2)  #suuliin muruud

      a   b   c   d
4th  12  13  14  15
5th  16  17  18  19